# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js dependencies if you add them later
node_modules/
package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 